- var headTitle = 'Gulp Less Jade Skeleton'
- var headDescription = 'Skeleton to build static websties using Jade and Less, plus a live-reload webserver for faster development'

doctype html
html(lang='en')
	head
		title= headTitle
		meta(name='description', content=headDescription)
		link(rel='stylesheet', href='css/some_static.css')
		link(rel='icon', href='images/some_static.jpg')
	body
		header
			h1 Example Jade file
		img(src='images/some_static.jpg')
